.image-thing-container{
	width: 100%;
	height:100%;
}

.image-thing-image{
	height: calc(100% - 60px);
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-thing-description{
	color: #fff;
	width: 100%;
	font-weight: 300;

    position: relative;
    top: -80px;
    font-size: 2em;
	padding: 10px;
	background: linear-gradient(to top, rgba(0,0,0, 0.8), rgba(0,0,0,0));
}

.image-thing-description span{
	display: block;
	text-overflow: ellipsis;
	transform: translateY(40%);
	opacity: 0;
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1) all;
	transition-delay: 0.6s;
}
.active .image-thing-description span{
	transform: translateY(0);
	opacity: 1;
}